html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #1e1e1e;
  color: #9ccc9c;
  line-height: 1.6;
}

main {
  padding: 20px;
}

.header-container {
  padding: 20px;
}